.row{   

    background-color:black;
    color:white;
    font-size:20px;
    
}
.rowFooter{
    display :flex;
    justify-content:space-around;
}
.headshot{
    width:200px;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:50px;
    margin-bottom:5px;
}
.reactionShot{
    width: 60px;
}
guyLaughing{
    position: relative;
}
